*~
*.py[oc]
*.pyc
*.kate-swp
.~lock.*#
.#*

# Logs
logs*
*.log

# Configs
.env
config/*

# Data
data*

# Notebooks
notebooks*

# Tests
/.pytest_cache

# Virtualenv
/venv
.python-version

# Pycharm
.idea/

# Background Info
background/

# Jupyter Notebook
*.ipynb_checkpoints*
